doctype html
html
  head
    title Gestión de Agendas
    link(rel='stylesheet', href='/styles/styles.css')
  body
    header
        h1 Gestión de Agendas
        include nav.pug
    
    .container
        main
        h2 Filtrar Citas por Especialidad y Médico
        form(action='/agendas/filtrar', method='POST')
            .side-by-side
                .inline-field
                    label(for='especialidad') Especialidad:
                    select(name='especialidad' id='especialidad')
                        each especialidad in especialidades
                            option(value=especialidad.nombre) #{especialidad.nombre}
                .inline-field
                    label(for='medico') Médico:
                    select(name='medico' id='medico')
                        each medico in medicos
                            option(value=medico.nombre_completo) #{medico.nombre_completo}

            button(type='submit') Filtrar Citas

        h2 Transferir un Paciente de una Agenda a Otra
        form(action='/agendas/transferir', method='POST')
            label(for='nombre_paciente') Nombre del Paciente:
            input(type='text' id='nombre_paciente' name='nombre_paciente' required placeholder='e.g., Juan Pérez')

            .side-by-side 
                .inline-field
                    label(for='doctor_anterior') Médico Actual:
                    select(name='doctor_anterior' id='doctor_anterior')
                        each medico in medicos 
                            option(value=medico.nombre_completo) #{medico.nombre_completo}
                
                .inline-field
                    label(for='doctor_nuevo') Nuevo Médico:
                    select(name='doctor_nuevo' id='doctor_nuevo')
                        each medico in medicos 
                            option(value=medico.nombre_completo) #{medico.nombre_completo}

            .date-picker-container 
                .date-picker
                    label(for='fecha_cita_anterior') Fecha de la Cita Actual:
                    input(type='date' id='fecha_cita_anterior' name='fecha_cita_anterior' required class='date-input')
                
                .date-picker
                    label(for='fecha_cita_nueva') Fecha Nueva:
                    input(type='date' id='fecha_cita_nueva' name='fecha_cita_nueva' required class='date-input')
            
            .side-by-side 
                .inline-field
                    label(for='hora_cita_nueva') Hora Actual:
                    input(type='time' id='hora_cita_actual' name='hora_cita_actual' required class='time-input')

                .inline-field
                    label(for='hora_cita_nueva') Nueva Hora:
                    input(type='time' id='hora_cita_nueva' name='hora_cita_nueva' required class='time-input')

            button(type='submit') Transferir Paciente

        h2 Notas sobre la Gestión de Agendas
        p Use el formulario de arriba para filtrar citas o para transferir a un paciente de un médico a otro.
