doctype html
html
  head
    title Agenda de Consultas Médicas
    link(rel="stylesheet" href="/styles/styles.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/css/theme.default.min.css")
    script.
      $(document).ready(function() {
        $("#pacientesTable").tablesorter();
      });
  body
    h1 Pacientes
    include nav.pug
      
    .container
      form(action="/pacientes/create" method="POST")
        input(type="text" name="nombreCompleto" placeholder="Nombre Completo" required)
        input(type="text" name="dni" placeholder="DNI" required)
        input(type="text" name="contacto" placeholder="Contacto" required)
        input(type="text" name="obraSocial" placeholder="Obra Social")
        .side-by-side 
            .inline-field
                button(type="submit") Crear Paciente
      form(action="/pacientes/resultados" method="POST")
        input(type="text" name="nombreCompleto" placeholder="Nombre Completo")
        input(type="text" name="dni" placeholder="DNI")
        .side-by-side 
            .inline-field
                button(type="submit") Buscar Paciente
        
      //- List existing Pacientes
      if pacientes.length
        table#pacientesTable.tablesorter
          thead
            tr
              th Nombre Completo
              th DNI
              th Contacto
              th Obra Social
              th Acciones
          tbody
            each paciente in pacientes
              tr
                td #{paciente.nombreCompleto}
                td #{paciente.dni}
                td #{paciente.contacto}
                td #{paciente.obraSocial}
                td
                  form(action=`/pacientes/delete/${paciente.id}` method="POST" style="display:inline;")
                    button(type="submit") Eliminar
      else
        p No hay pacientes registrados.